<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53760535723-sqsu6fc6bjv2dvdk04cf73ejembfr5m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53760535723-sqsu6fc6bjv2dvdk04cf73ejembfr5m1</string>
	<key>API_KEY</key>
	<string>AIzaSyBRw4CnldxVjUDc8i75iFY0NE1fu06LdN0</string>
	<key>GCM_SENDER_ID</key>
	<string>53760535723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rentandrun.goRentApp</string>
	<key>PROJECT_ID</key>
	<string>go-rent-app</string>
	<key>STORAGE_BUCKET</key>
	<string>go-rent-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53760535723:ios:8d106bc0347329dded1bee</string>
</dict>
</plist>